<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
    <head>
    <% include ../partials/head %>

    </head>
<body>
<% include ../partials/navbar %>
<div class="container">
    <p><%=: locals | get:'error','' %> </p>

            <div id="filter-place-holder"></div>
            <div class="row" id="my-isotope">
                <div class="grid-sizer"></div>
                 <% previews.forEach(function(post) { %>
                    <div class="content-preview well">
                        <a href="./article?ID=<%= post._id %>"> <h3><%= post.title %></h3></a>
                        <a href="/?author=<%= post.author%>"><mark class="author"><%= post.author%></mark></a>
                        <br/>
                        <div class="embed-responsive embed-responsive-16by9">
                        <%= post.media %>
                        </div>

                        <span class="content-tags">
                            <% post.tags.forEach(function(tag) { %>
                                <a href="/?filter=<%= tag%>">  <%= tag%> </a>
                            <% }); %>
                        </span>
                        <p><a class="btn btn-default btn-expand-article" href="./article?ID=<%= post._id %>" role="button">Read</a></p>
                    </div>
                <% }); %>


            </div>
        </div><!--/.container-->

    <% include ../partials/foot %>
 <!-- isotope core -->
        <script src="/javascripts/isotope.pkgd.min.js" type="text/javascript"></script>
        <!-- images loaded-->
        <script src="/javascripts/imagesloaded.pkgd.min.js" type="text/javascript"></script>
        <script src="/javascripts/index.js" type="text/javascript"></script>
    </body>
</html>